<footer class="footer">
    <div class="content is-small has-text-centered">
        <p>
            <strong>Emotion Tracker: Understand Behaviours</strong> by
            <a href="https://github.com/Jamesgo1">James Gough</a>
            &nbsp;Created as part of Queen's University MSc Software Development 2024
            &nbsp;Source code available on
            <a class="button is-primary is-inverted is-vcentered" href="https://github
            .com/Jamesgo1/emotions_tracker_web">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Github</span>
            </a>
    </div>
</footer>